DB_CONNECTION_STRING="postgresql://myuser:mypassword@localhost:5432/mydatabase"
AUTH_SECRET=""
AUTH_CLIENT_SECRET=" g~gEXRnTHp_DesEpH_GySDBNg.650YxE "
AUTH_CLIENT_ID="Bzf8Z9ljDJY2qSsh"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="abcdefghijklmnopqrstuvwxyz"